@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');

body {
  font-weight: 300;
  font-family: "Raleway", Helvetica, sans-serif;
  color: #00f;
}

h2, h3, h5, h6 {
  font-weight: inherit;
}

h1{
  color: #8B0000
}

h4{
  color: #4682B4
}

.layout {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-size: 3em;
  margin: 1.5em 0 0.3em 0;
}
